<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CallButler.ManagementInterface.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <CallButler.ManagementInterface.Properties.Settings>
            <setting name="WOSI_CallButler_ManagementInterface_ManagementServices_ManagementInterfaceService"
                serializeAs="String">
                <value>http://seawolf.callbutler.com/TestServices/Management/ManagementService.asmx</value>
            </setting>
        </CallButler.ManagementInterface.Properties.Settings>
    </applicationSettings>
</configuration>