<configuration><configSections>
                   <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
                       <section name="CallButler.Service.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
                   </sectionGroup>
                   <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
                       <section name="CallButler.Service.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
                   </sectionGroup>
    </configSections>
    <connectionStrings />
    <applicationSettings>
        <CallButler.Service.Properties.Settings>
            <setting name="DataProviderType" serializeAs="String">
                <value>XmlDataProvider</value>
            </setting>
            <setting name="XmlDataRootDirectory" serializeAs="String">
                <value>\Data</value>
            </setting>
            <setting name="GreetingSoundRootDirectory" serializeAs="String">
                <value>\Sounds\Greetings</value>
            </setting>
            <setting name="CustomerID" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="LogDirectory" serializeAs="String">
                <value>\Logs</value>
            </setting>
            <setting name="SystemSoundRootDirectory" serializeAs="String">
                <value>\Sounds\System</value>
            </setting>
            <setting name="ImlPluginsFolder" serializeAs="String">
                <value>\Plugins</value>
            </setting>
            <setting name="VoicemailRootDirectory" serializeAs="String">
                <value>\Voicemail</value>
            </setting>
            <setting name="SystemScriptsRootDirectory" serializeAs="String">
                <value>\Scripts\System</value>
            </setting>
            <setting name="SqlConnectionString" serializeAs="String">
                <value />
            </setting>
            <setting name="CallButlerManagementAppLocation" serializeAs="String">
                <value>..\Management\CallButler Manager.exe</value>
            </setting>
            <setting name="PluginDirectory" serializeAs="String">
                <value>\Plugins</value>
            </setting>
            <setting name="ManagementServicePort" serializeAs="String">
                <value>30872</value>
            </setting>
            <setting name="ClientServicePort" serializeAs="String">
                <value>30874</value>
            </setting>
            <setting name="FindMePluginData" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>PhonospherePBX</string>
                        <string>w0sInc06</string>
                        <string>https://ws.myiotum.com:4849/RPC2</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="CallRecordingSoundPath" serializeAs="String">
                <value>\Recordings</value>
            </setting>
            <setting name="CallConnectorQueuePeriod" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="EnablePerformanceCounters" serializeAs="String">
                <value>True</value>
            </setting>
        </CallButler.Service.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <CallButler.Service.Properties.Settings>
            <setting name="SipPort" serializeAs="String">
                <value>5060</value>
            </setting>
            <setting name="StunServer" serializeAs="String">
                <value />
            </setting>
            <setting name="UseStun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LineCount" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="SMTPServer" serializeAs="String">
                <value />
            </setting>
            <setting name="SMTPPort" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="SMTPUseSSL" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SMTPUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="SMTPPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="LicenseName" serializeAs="String">
                <value />
            </setting>
            <setting name="LicenseKey" serializeAs="String">
                <value />
            </setting>
            <setting name="Multilingual" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultLanguage" serializeAs="String">
                <value />
            </setting>
            <setting name="Languages" serializeAs="String">
                <value />
            </setting>
            <setting name="ServiceEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SoundVolume" serializeAs="String">
                <value>35</value>
            </setting>
            <setting name="RecordVolume" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="SpeechVolume" serializeAs="String">
                <value>35</value>
            </setting>
            <setting name="HoldMusicRootDirectory" serializeAs="String">
                <value>\Music</value>
            </setting>
            <setting name="SMTPEmailFrom" serializeAs="String">
                <value>mailer@callbutler.com</value>
            </setting>
            <setting name="ManagementPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="ExpertMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FirstTimeRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LogStorage" serializeAs="String">
                <value>SystemEventLog</value>
            </setting>
            <setting name="LoggingLevel" serializeAs="String">
                <value>ErrorsOnly</value>
            </setting>
            <setting name="DefaultTTSVoice" serializeAs="String">
                <value />
            </setting>
            <setting name="ApplicationVersion" serializeAs="String">
                <value />
            </setting>
            <setting name="ReportErrors" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseBridgedTransfers" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DownloadRegistered" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableRemoteManagement" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AnswerTimeout" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WelcomeGreetingDelay" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="UseInternalAddressForSIPMessages" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ProductID" serializeAs="String">
                <value>CB-ULM-1B</value>
            </setting>
            <setting name="SendLogErrorEmails" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LogErrorEmailAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="PresenceTimeout" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="SIPRegistrarDomain" serializeAs="String">
                <value />
            </setting>
            <setting name="CallBlastTimeout" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="AllowOutboundDialing" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OutboundDialingPrefix" serializeAs="String">
                <value />
            </setting>
            <setting name="TryReceptionistFirst" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ReceptionistExtensionID" serializeAs="String">
                <value>00000000-0000-0000-0000-000000000000</value>
            </setting>
            <setting name="EnableCallHistory" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnablePBX" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BusyRedirectServer" serializeAs="String">
                <value />
            </setting>
            <setting name="SendDTMFInAudio" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ForceDefaultProviderForOutboundCalls" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GreetingRecordingTempPath" serializeAs="String">
                <value>\Sounds\Temp</value>
            </setting>
            <setting name="AutoForwardFaxTo" serializeAs="String">
                <value />
            </setting>
            <setting name="InternalSIPDomain" serializeAs="String">
                <value />
            </setting>
            <setting name="EnableKinesisServer" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CustomCallScreeningPrompt" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomIncomingCallerID" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomIncomingCallerNumber" serializeAs="String">
                <value />
            </setting>
        </CallButler.Service.Properties.Settings>
    </userSettings>
</configuration>