<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CallButler.Telecom.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <CallButler.Telecom.Properties.Settings>
            <setting name="Skype_MinVersion" serializeAs="String">
                <value>3.0</value>
            </setting>
            <setting name="Skype_DownloadURL" serializeAs="String">
                <value>http://www.skype.com/download/skype/windows</value>
            </setting>
            <setting name="SkypeULM_WindowsUserPrefix" serializeAs="String">
                <value>CBSkypeUser_</value>
            </setting>
            <setting name="SkypeULM_DaemonExeName" serializeAs="String">
                <value>CallButler SkypeDaemon.exe</value>
            </setting>
            <setting name="Skype_AudioPortStart" serializeAs="String">
                <value>8881</value>
            </setting>
            <setting name="Skype_MinVersionInt" serializeAs="String">
                <value>50331785</value>
            </setting>
        </CallButler.Telecom.Properties.Settings>
    </applicationSettings>
</configuration>