<configuration><configSections>
                   <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
                       <section name="CallButler.Manager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
                   </sectionGroup>
                   <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
                       <section name="CallButler.Manager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
                   </sectionGroup>
    </configSections>
    <applicationSettings>
        <CallButler.Manager.Properties.Settings>
            <setting name="MinExtensionNumber" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="GreetingsSoundCache" serializeAs="String">
                <value>\Sounds\Greetings Cache</value>
            </setting>
            <setting name="TcpManagementPort" serializeAs="String">
                <value>30872</value>
            </setting>
            <setting name="VoicemailSoundCache" serializeAs="String">
                <value>\Sounds\Voicemails Cache</value>
            </setting>
            <setting name="ExtensionClientDownloadURL" serializeAs="String">
                <value>http://www.callbutler.com/Files/CallButler%20Message%20Center%20Setup.exe</value>
            </setting>
            <setting name="SupportUrl" serializeAs="String">
                <value>http://www.callbutler.com/</value>
            </setting>
            <setting name="BuyLicenseURL" serializeAs="String">
                <value>http://www.callbutler.com/purchase/cart.aspx?ProductID=</value>
            </setting>
            <setting name="PrebuiltConfigCatalogPath" serializeAs="String">
                <value>\Data\Configs\PrebuiltConfigCatalog.xml</value>
            </setting>
            <setting name="PrebuiltConfigDataPath" serializeAs="String">
                <value>\Data\Configs\</value>
            </setting>
            <setting name="PluginsPath" serializeAs="String">
                <value>\Plugins</value>
            </setting>
            <setting name="ManagementInterfaceType" serializeAs="String">
                <value>Local</value>
            </setting>
            <setting name="PreferredVoIPProviderPluginID" serializeAs="String">
                <value>B9E75DC5-3B47-49bd-8D61-1628889104BB</value>
            </setting>
            <setting name="EditionCompareURL" serializeAs="String">
                <value>http://www.callbutler.com/about/features.aspx</value>
            </setting>
            <setting name="UserManualPath" serializeAs="String">
                <value>\..\Help\CallButler User Manual.chm</value>
            </setting>
            <setting name="ModulesDownloadURL" serializeAs="String">
                <value>http://www.callbutler.com/modules</value>
            </setting>
            <setting name="ExtensionClientSetupMail" serializeAs="String">
                <value>
Dear User,

A new CallButler telephone system has been installed in your organization and you have been assigned a telephone Extension. This telephone extension will allow callers to leave voicemail messages and to optionally find and connect to you on your office, mobile or home phone.

----------------------------------------------------------------
You new extension number is:		#ExtNumber#
You new extension passcode is:	#ExtPasscode#
----------------------------------------------------------------

To listen to your voicemail and change your voicemail greeting.

1) From an outside line: Dial your organization's main telephone number.
   When you hear the main menu, dial your extension number.
   
   From an inside line: Dial your extension number.

2) Press the * key on your telephone.
3) When asked for you passcode, dial #ExtPasscode#.

For additional help, please contact your administrator.</value>
            </setting>
        </CallButler.Manager.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <CallButler.Manager.Properties.Settings>
            <setting name="CallButlerServer" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="CustomerID" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DisplayCommonTasks" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ManagementPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="ApplicationVersion" serializeAs="String">
                <value />
            </setting>
            <setting name="UpdateNotification" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DisplayShutdownDialog" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PreviousLogin" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultVoIPProviderPluginID" serializeAs="String">
                <value>B9E75DC5-3B47-49bd-8D61-1628889104BB</value>
            </setting>
            <setting name="DefaultFindMePluginID" serializeAs="String">
                <value>fe858d01-1ac7-46cc-817b-b206702440f9</value>
            </setting>
            <setting name="UICulture" serializeAs="String">
                <value />
            </setting>
        </CallButler.Manager.Properties.Settings>
    </userSettings>
</configuration>