<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="T2.CallButler.Service.Plugin.ConferenceBridge.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <T2.CallButler.Service.Plugin.ConferenceBridge.Properties.Settings>
            <setting name="LicenseName" serializeAs="String">
                <value />
            </setting>
            <setting name="LicenseKey" serializeAs="String">
                <value />
            </setting>
        </T2.CallButler.Service.Plugin.ConferenceBridge.Properties.Settings>
    </userSettings>
</configuration>